<div class="sidebar-wrapper">
  <mat-nav-list>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/salary">
      <mat-icon>monetization_on</mat-icon>
      Employee Salary
    </a>
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/hardwareloan"
    >
      <mat-icon color="primary">computer</mat-icon> Hardware Loan</a
    >
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/leave">
      <mat-icon>monetization_on</mat-icon>
      Leave</a
    >
    <h2 mat-subheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
      <mat-icon>import_contacts</mat-icon>
      Contacts
    </a>
  </mat-nav-list>
</div>
