.profile {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: gray;
  font-size: 90px;
  color: #fff;
  margin-left: 20px;
}

.margin-18 {
  margin-top: 18px;
}
.margin-26 {
  margin-right: 26px;
}
.margin-24 {
  margin-left: 24px;
}
h4 {
  font-weight: bold;
}
