<mat-card>
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-icon class="profile">perm_identity</mat-icon>
    <div class="margin-32">
      <h4>Kinley Zam</h4>
      <p>Backend Developer</p>
    </div>
  </div>
  <div fxLayout="column" class="margin-32">
    <div fxFlex="80">
      <div fxLayout="row" class="margin-24">
        <div fxFlex="50">
          <h4>Account Number</h4>
          <p>200669326</p>
        </div>
        <div fxFlex="50">
          <h4>Contact Number</h4>
          <p>200669326</p>
        </div>
      </div>
      <div fxLayout="row" class="margin-24">
        <div fxFlex="50">
          <h4>Loan Amount</h4>
          <p>70,000</p>
        </div>
        <div fxFlex="50">
          <h4>Balance</h4>
          <p>50,000</p>
        </div>
      </div>
      <div fxLayout="row" class="margin-24">
        <div fxFlex="50">
          <h4>Deduction/Month</h4>
          <p>4000</p>
        </div>
      </div>
    </div>
    <div
      class="margin-26"
      fxLayout="row"
      fxLayoutAlign="end"
      fxLayoutGap="10px"
    >
      <button mat-stroked-button color="primary">Edit</button>
      <button mat-raised-button color="warn">Delete</button>
    </div>
  </div>
</mat-card>
